{{>header}}
<h2>Edit snippet</h2>

{{#snippet}}
  {{#errorMsg}}
  <div class="alert alert-danger">
    {{.}}
  </div>
  {{/errorMsg}}

  <form action="/edit/{{_id}}" id="editSnippet" method="POST">
    <p>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{title}}" required />
    </p>

    <p>
      <label for="body">Body:</label>
      <textarea type="text" id="body" name="body" placeholder="{{body}}" value="{{body}}" ></textarea>
    </p>

    <p>
      <label for="notes">Notes:</label>
      <textarea type="text" id="notes" name="notes" placeholder="{{notes}}" value="{{notes}}" ></textarea>
    </p>

    <p>
      <label for="language">Language:</label>
      <input type="text" id="language" name="language" placeholder="{{language}}" value="{{language}}" />
    </p>

    <!-- want to have additional inputs created as needed -->

      <p>
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="{{author}}"/>
      </p>

      <p>
        <label for="stars">Stars:</label>
        <input type="text" id="stars" name="stars" value="{{stars}}"/>
      </p>

      <p>
        <label for="dateCreated">Date Created:</label>
        <input type="text" id="dateCreated" name="dateCreated" value="{{dateCreated}}"/>
      </p>

    <p>
      <button type="submit" form="editSnippet" class="btn btn-primary">Update snippet</button>
    </p>
  </form>

  <form class="addTags" id="addTag" action="/addTags/{{_id}}" method="post">
    <p>
      <label for="tags">Tags:</label>
      {{#tags.2}}
      <ul>
        {{#tags}}
        <li>{{.}}</li>
        {{/tags}}
      </ul>
      {{/tags.2}}
      <input type="text" id="tags" name="tags" />
      <button type="submit" form="addTag" name="tags">Add tag</button>
    </p>
  </form>
{{/snippet}}
