<div class="header-row">
  <!-- <div class="col"> -->
    {{#user}}
      <h2>Snippets</h2>
      <h4>
        Welcome {{ username }}.
        <small class="button"><a class="header" href="/logout/">Logout</a></small>
      </h4>
    {{/user}}
    <!-- {{^user}}
    <h1>
      Please log in to continue.
      <small><a href="/login/">Login</a> | <a href="/register/">Register</a></small>
    </h1>
    {{/user}} -->
  <!-- </div> -->
</div>
