<div class="container" style="margin-top: 2rem">
  <div class="header-row">
    <!-- <div class="col"> -->
      {{#user}}
        <h2>Snippets</h2>
        <h3>
          Welcome {{ username }}.
          <small><a href="/logout/">Logout</a></small>
        </h3>
      {{/user}}
      <!-- {{^user}}
      <h1>
        Please log in to continue.
        <small><a href="/login/">Login</a> | <a href="/register/">Register</a></small>
      </h1>
      {{/user}} -->
    <!-- </div> -->
  </div>
  <div class="search">
    <!-- search form - 2 dropdowns -->
    <form class="" action="/searchKey" method="post">
      <label for="searchBy">Search by</label>
      <select class="" name="searchBy">
        <option value="language">Language</option>
        <option value="tags">Tag</option>
        <option value="author">Author</option>
      </select>
      <button type="submit" name="searchBy" class="button">Apply filter</button>
    </form>
    {{#values.0}}
      <button type="submit" name="removeFilter" class="button">Remove filter</button>
    {{/values.0}}
    <form class="" action="/searchValue" method="post">
      <label for="searchFor">Search for</label>
      <select class="" name="searchFor">
      {{#values}}
        <option value="{{.}}">{{.}}</option>
      {{/values}}
      </select>
      <button type="submit" name="searchFor" class="button">Search</button>
    </form>
  </div>
  <!-- link to create page -->
  <p class="create">
    <a href="/create/" class="button button-primary">Create a snippet.</a>
  </p>

  <div class="list">
    <!-- list of all snippets -->
    {{#snippets}}
      <div class="snippet">
        <h2>
          <a href="/snippet/{{_id}}">{{title}}</a>
        </h2>
        <h3>{{language}}</h3>
        {{#tags}}
          <h3>{{.}}</h3>
        {{/tags}}
      </div>
    {{/snippets}}
    {{^snippets}}
      <h2>No snippets found</h2>
    {{/snippets}}
  </div>
</div>
