<div class="container" style="margin-top: 2rem">
  {{> header}}
  <div class="search">
    <!-- search form - 2 dropdowns -->
    <form class="" action="/searchKey" method="post">
      <label for="searchBy">Search by</label>
      <select class="" name="searchBy">
        <option value="language">Language</option>
        <option value="tags">Tag</option>
        <option value="author">Author</option>
      </select>
      {{^values.0}}
      <button type="submit" name="searchBy" class="button form-button">Apply filter</button>
      {{/values.0}}
    </form>
    {{#values.0}}
      <a class="button form-button" href="/index">Remove filter</a>
    {{/values.0}}
    <form class="" action="/searchValue" method="post">
      <label for="searchFor">Search for</label>
      <select class="" name="searchFor">
      {{#values}}
        <option value="{{.}}">{{.}}</option>
      {{/values}}
      </select>
      <button type="submit" name="searchFor" class="button form-button">Search</button>
    </form>
  </div>
  <!-- link to create page -->
  <p class="create">
    <a href="/create/" class="button button-primary">Create a new snippet.</a>
  </p>

  <div class="list">
    <!-- list of all snippets -->
    {{#snippets}}
      <div class="snippet">
        <h3>
          <a href="/snippet/{{_id}}">{{title}}</a>
        </h3>
        <h4>{{language}}</h4>
        {{#tags}}
          <h4>{{.}}</h4>
        {{/tags}}
      </div>
    {{/snippets}}
    {{^snippets}}
      <h2>No snippets found</h2>
    {{/snippets}}
  </div>
</div>
